appdirs==1.4.0
axel==0.0.7
certifi==2017.1.23
cffi==1.9.1
colorama==0.3.7
colorlog==2.10.0
cryptography==1.7.2
future==0.16.0
idna==2.2
packaging==16.8
paramiko==2.1.6
pyasn1==0.2.1
pycparser==2.17
pyparsing==2.1.10
python-telegram-bot==5.3.0
six==1.10.0
SQLAlchemy==1.1.5
tabulate==0.7.7
urllib3>=1.23
virtualenv==15.1.0
